---
import { fetchContent } from '../scripts/fetchContent.js';
let products;
try {
  products = fetchContent('http://localhost:4000/api/products', {
    headers: {
      'x-access-token': 'your_jwt_token_here', // reemplaza esto con tu token JWT
    },
  });
} catch (err) {
  console.error(err);
}
---
<ul>
  {products.map(product => (
    <li key={product._id}>
      <h2>{product.name}</h2>
      <p>{product.category}</p>
      <p>{product.price}</p>
    </li>
  ))}
</ul>