.background {
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  color: #000000;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
}

.logo-container {
  margin-right: 20px;
  flex-shrink: 0;
}

.content h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid orange;
  animation: typing 2.5s steps(30, end) infinite, blink-caret .5s step-end infinite;
}

/* Animación de escritura */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Animación del cursor */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0, 0, 0) }
}